$border: 1px solid #ccc;

.carousel {
  position: relative;
  margin: 1rem auto;
  margin-bottom: 4rem;
  width: 80rem;
  padding: 0.5rem 3rem;
  border: $border;
  border-radius: 15px;
  background: #eee;
}
