.field {
  width: 31.25rem;
  height: 31.25rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  .cell {
    width: 3.125rem;
    height: 3.125rem;
  }
  .black-cell {
    width: 3.125rem;
    height: 3.125rem;
    background-color: black;
  }
  .smile {
    background: url("../img/smile.png") no-repeat;
    background-size: cover;
  }
  .finish {
    background: url("../img/finish.png") no-repeat;
    background-size: cover;
  }
}
