%flex-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
%buttons-style {
  border-radius: 5%;
  margin-right: 1rem;
  color: white;
  padding: 1rem 2rem;
}
.pomodoro {
  background-color: rgb(252, 252, 252);
  width: 45rem;
  margin: 2rem auto;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  button {
    font-size: 1.5rem;
    border: none;
    color: rgb(126, 126, 126);
    background-color: rgb(252, 252, 252);
  }
  &__info {
    @extend %flex-element;
    margin-bottom: 2rem;
    h2 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  &__clock {
    @extend %flex-element;
    margin-bottom: 2rem;
    color: rgb(255, 94, 0);
    .pomodoro__clock__timer {
      @extend %flex-element;
      .pomodoro__clock__timer-minutes {
        font-size: 2rem;
        padding: 2.5rem 1.5rem 2.5rem 3rem;
        border-radius: 50%;
        border: 0.25rem solid rgb(126, 126, 126);
        margin: 0 1rem;
      }
    }
    .pomodoro__clock__break {
      @extend %flex-element;
      color: rgb(126, 126, 126);
      .pomodoro__clock__break-minutes {
        font-size: 2rem;
        padding: 2.5rem 1.5rem 2.5rem 3rem;
        border-radius: 50%;
        border: 0.25rem solid rgb(126, 126, 126);
        margin: 0 1rem;
      }
    }
  }
  &__buttons {
    @extend %flex-element;
    justify-content: center;
    margin: 2rem 0;
    .pomodoro__buttons-start {
      @extend %buttons-style;
      background-color: rgb(73, 73, 242);
    }
    .pomodoro__buttons-stop {
      @extend %buttons-style;
      background-color: rgb(104, 104, 244);
    }
    .pomodoro__buttons-delete {
      @extend %buttons-style;
      background-color: rgb(152, 152, 228);
    }
  }
  &__time {
    @extend %flex-element;
    flex: 1 1 auto;
    time {
      font-size: 2rem;
      color: rgb(255, 94, 0);
      padding: 3rem 2.5rem;
      border-radius: 50%;
      border: 0.5rem solid rgb(255, 94, 0);
      margin: 0 1rem;
    }
  }
}
